body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}
.timer-text {
  color: #ff2727;
  font-size: 1.2rem;
}

.container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.068);
  margin: 100px auto;
  max-width: 100%;
  width: 450px;
}

h1 {
  color: #333;
}

article {
  text-align: justify;
  padding: 3rem 6rem;
}
article p {
  padding-right: 6rem;
}
